<h1>About Us</h1>

<%= image_tag("about.jpg",class:"img-responsive center")%>
<!-- below is just to add a link to all the products -->
<%= link_to 'Show Product', products_path %>
<%= link_to 'Show Single', product_path(4) %>
<!-- Just to add a link to home page -->
<%= link_to 'Home',root_path %>

<p class="about_para">We established in the year 1998. We specialize in Bikes and source them throughout Germany</p>
