/*Home page styling*/

h1{
  color:#252625;
  margin: 40px 52px;
}

img{
  border: 2px solid black;

}

.intro-para{
  margin-left:58px;
  font-size: 21px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  height:  300px;
}

.navstyle a {
color: #27cc53;
}

a:hover{
  color:white;

  }

.foot-below{
  text-align:center;
  margin: 100px 50px;
  background-color:#04AA97;
}

#navfont li a {
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-right: 20px;
    font-size: medium;
    color: limegreen;
}

#navfont li a:hover{
  color: white;
  text-decoration: none;
}

body{
  background-color: #78827d;
}



/*Contact Page styling */
.contact_para{
  font-size: medium;
  color: black;
  margin-top: 60px;
  margin-left: 52px;
}

/*About page styling*/

.about_para{
  font-size: medium;
  color: black;
  margin-top: 60px;
  margin-left: 52px;

}

#form_top{
 width: 40%;
}



/***FAQ age styling***/
.faq_para{
  font-size: medium;
  color: black;
  margin-top: 60px;
  margin-left: 52px;

}

/*carousel styling*/

.cara-pic {
  height: 900px;
  width: 600px;
}

/***Orders page styling***/

#order-p p {
  margin-left: 52px;
  font-size: 19px;
}

#oid{
  color: peru;
}

#order-det p {
  font-size: 19px;
}

#order-det h2{
  font-size: 30px;
  font-weight: heavy;
}

