  <div class="col-sm"><a href="#"><h1><%= product.name %></h1></a>
    <%= image_tag("prod.jpg", class: "img-fluid prod-img") %>
      <p><%= product.description %></p>
      <strong><%= product.price %></strong>
  </div><!-- /col -->

    