<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm"><a href="#"><h1>Bike 1</h1></a>
        <%= image_tag("prod.jpg", class: "img-fluid prod-img") %>
        <p>Pretty cool bike</p>
        <strong>$ 42</strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>



<%= link_to 'New Product', new_product_path %>
